[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ccxt = "*"
sendgrid = "*"
neuralprophet = "*"
python-dotenv = "*"
requests = "*"
pytest = "*"
requests-mock = "*"
torch = {version = "1.13.1", index = "pytorch", extra = "cpu"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
